<h3>Upcoming trainings</h3>
<table>
	<tr>
		<td>Topic</td>
		<td>Trainer</td>
		<td>Date</td>
		<td>Loaction</td>
	</tr>
	<% @training.each do |training| %>
	<tr>
		<td><%= training.title %></td>
		<td><%= training.trainer%></td>
		<td><%= training.training_date %></td>
		<td><%= training.location %></td>
	</tr>
	<% end %>
</table>