<div class="panel panel-default">
	<div class="panel-heading">
        <h3 class="panel-title"><strong>Recent Birthdays</strong></h3>
    </div>
    <div class="panel-body">
		    <div class="row">
				<%@user_birthday_recent.each do |user| %>
					<div class="col-md-6">	
						<%= image_tag user.user_pic.url(:thumb) %>
						<%= user.first_name %> <%= user.last_name %>
						<% @bday = user.dob %>
						<p>
								<% if user.dob.day==Date.today.day %>
									Birthday Today
								<% elsif user.dob.day==(Date.today + 1.days).day %>
									Birthday Tomorrow
								<%else%>
									Birthday on <%= @bday.strftime("%B %d") %>
								<%end%>
						</p>
					</div>
				<% end %>
			</div>
	</div>
</div>


