

<h3>Welcome</h3>

<p><%= link_to "Edit Profile", edit_user_registration_path%></p>
<p><%= link_to 'List users',list_users_path%></p>
<p><%= link_to 'Projects',projects_path %></p>
<p><%= link_to 'Daily status',daily_statuses_path%></p>
