<div class="row">
	<div class="col-md-12"><h2>Daily Status</h2></div>
	<div class="col-md-12 new-status-form">
		<%= render 'form' %>
	</div>
	<div class="col-md-12 status_index" id="status_index">
		<%= render 'index' %>
	</div>
</div>


<script>
	$( "form" ).on( "submit", function( event ) {
	  event.preventDefault();
	  var valuesToSubmit = $(this).serialize();
	  $.ajax({
	  	type:'GET',
	  	url:'/daily_statuses/add_status',
	  	data: valuesToSubmit,
	  	dataType: 'html',
	  	success: function(result){
	  		if(result=='failed'){
	  			alert("Status for this date and project already exists");
	  			$("#submit-btn").prop('disabled', false);
	  			$('form')[0].reset();
	  		}
	  		else{
		  		$("#status_index").prepend(result);
		  		$("#submit-btn").prop('disabled', false);
		  		$('form')[0].reset();
	  		}
	  	}
	  });
	});
</script>

